<footer id="footer" class="py-5 border-top">
    <div class="container-lg">
      <div class="row">
        <div class="col-lg-2 pb-3">
          <div class="footer-menu">
            <h5 class="widget-title pb-3">Fale conosco</h5>
            <div class="footer-contact-text">
              <span>Rua das Acácias	Jardim São Paulo
                Americana, SP </span>
              <span> Telefone: (+55) 11 9999-9999 </span>
              <span class="text-hover fw-bold light-border"><a href="mailto:gabrielealmenezes@gmail.com">gabrielealmenezes&#64;gmail.com</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>© Copyright Menezes {{ getYear() }}</p>
        </div>
      </div>
    </div>
  </footer>
