
<main>
    <div class="container">
        <div class="contain">
            <h1>Registrar-se</h1>
            <form>
                <label for="firstname">
                    <input type="text" placeholder="Primeiro nome" autocomplete="cc-name" required>
                </label>
                <label for="lastname">
                    <input type="text" placeholder="Último nome" autocomplete="family-name" required>
                </label>
                <label for="email">
                    <input type="email" placeholder="Email" required>
                </label>
                <label for="phone">
                    <input type="tel" mask="(00) 00000-0000" placeholder="Telefone" required>
                </label>
                <label for="password">
                    <input type="password" placeholder="Senha" required>
                </label>
    
                
                <button type="button" class="btn btn-primary">Registrar-se</button>
            </form>
        </div>
    </div>
</main>