<main>
    <div class="container" @showContainer>
        <div class="contain">
            <h1>Login</h1>
            <form [formGroup]="form">
                <label for="email">
                    <input type="email" formControlName="email" placeholder="Email" autocomplete="email">
                </label>
                <label for="password">
                    <input type="password" formControlName="password" placeholder="Senha" autocomplete="new-password">
                </label>
                <span style="display: none;">Email ou senha incorretos!!</span>
                <div class="buttons">
                    <button type="button" class="btn btn-primary" (click)="submit()">Login</button>
                    <button type="button" class="btn btn-secondary" [routerLink]="'/register'">Registrar-se</button>
                </div>
            </form>
        </div>
    </div>
</main>