:root {
    --primary: #5a9bd6;
    --primary-010: #2b6ca3;

    --secondary: #1a4b80;
    --secondary-010: #122f51;

    --white: #f0f8ff;

    --black: #0f1a2e;
    --black-010: #24394f;

    --grey: #8aa1b6;
}
